* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 7vh;
  padding: 0 5vw;
  background-color: rgb(248, 244, 239);
  justify-content: space-between;
  align-items: center;
}

.logo {
  align-items: center;
}

.logo img {
  width: 2rem;
}

.logo a {
  text-decoration: none;
  color: black;
  display: flex;
}

nav img {
  width: 2rem;
  cursor: pointer;
}

.menu {
  display: none;
  background-color: rgb(248, 244, 239);
}

nav:hover .menu {
  display: block;
  position: absolute;
  right: 0;
  z-index: 2;
}

.menu ul {
  list-style: none;
  text-align: center;
  padding: 0 1rem;
}

.menu ul li {
  margin: 1rem 0;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.2s;
}
.menu ul li a:hover {
  color: #006b84;
}

.banner {
  background-image: url('./images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 100vw;
  height: 40vh;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.ContainerCarrossel {
  margin-top: 3vh;
  padding: 2%;
  margin-bottom: 2%;
  color: white;
}

.carrossel img {
  transition: all 0.3s ease-in-out;
}
.carrossel img:hover {
  transform: scale(1.1);
}

.owl-carousel img {
  width: 100px;
}

footer {
  background-color: rgb(248, 244, 239);
  position: sticky;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  padding: 2vh 5vw;
}

main {
  text-align: center;
}

iframe {
  margin-top: 5vh;
}

h3 {
  margin-top: 1vh;
}

.titulo {
  margin-top: 3vh;
  color: #006b84;
}

.imagem {
  width: 60vw;
  margin-top: 3vh;
}

main a {
  text-decoration: none;
  color: black;
}
